.content {
  background-color: var(--background-color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  padding: 10px;

  .content-logo {
    width: 100%;
    max-width: 300px;
    margin-top: 35px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 180px;
      height: auto;
    }
  }

  .content-title {
    margin-top: 40px;
    font-size: var(--size-20);
    font-weight: 600;
    text-align: center;
    color: var(--color-main) !important;
  }

  .content-text {
    text-align: center;
    margin: 15px 0;
    max-width: 260px;
    font-size: var(--size-16);
  }

  .content-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 12px;
    width: 100%;
    max-width: 260px;
  }

  .content-button {
    padding: 14px 18px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--size-16);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--primary-color);
    color: var(--color);
    transition: transform .12s ease, box-shadow .12s ease;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}


.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.dialog {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  width: 80%;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.dialog-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.dialog-buttons {
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  gap: 10px !important;
}

.dialog-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--size-16);
  transition: 0.3s ease;
}

.dialog-button.yes {
  background-color: var(--primary-color);
  color: var(--color-main);
}

.dialog-button.no {
  background-color: #ccc;
  color: #333;
}

.dialog-button:hover {
  opacity: 0.9;
}
