@if(isLoading){
  <app-loading></app-loading>
}
<div class="content">
  <div class="content-title">Cadastro finalizado com sucesso!</div>

  <!-- Botão Avançar -->
  <div class="content-bottom">
    <button class="content-button" (click)="validateCode()">
      Finalizar
    </button>
  </div>
</div>

<!-- Dialog central -->
<div class="dialog-overlay" *ngIf="showDialog" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <pre>{{ dialogMessage }}</pre>
    <button (click)="closeDialog()">Fechar</button>
  </div>
</div>
