<div class="content">
  <div class="content-logo">
    <img src="assets/images/logo.png" alt="Nosso Mini" />
  </div>

  <div class="content-title">
    Bem vindo ao Nosso Mini
  </div>

  <div class="content-text">
    Para ter acesso aos nossos serviços é necessário fazer o seu cadastro.
    É simples e rápido, vamos lá?
  </div>

  <div class="content-buttons">
    <button class="content-button" (click)="updateVisible(2)">
      <mat-icon>contact_mail</mat-icon>
      Fazer meu cadastro
    </button>

    <button class="content-button">
      <mat-icon>person</mat-icon>
      Já sou cadastrado
    </button>
  </div>
</div>
