@if(isLoading){
  <app-loading></app-loading>
}
<div class="content">
  <div class="content-title">Informe o seu CPF</div>
  <div class="content-image">
    <img src="assets/images/smiling.png" alt="imagem" />
  </div>
  <form class="content-form" [formGroup]="form" (submit)="$event.preventDefault()">

    <!-- CPF -->
    <div class="content-input">
      <div class="input-wrapper" [class.focused]="focused['cpf'] || form.get('cpf')?.value">
        <label>CPF</label>
        <input #cpfInput type="text" formControlName="cpf" (input)="onCpfInput($event)" (focus)="onFocus('cpf')" (blur)="onBlur('cpf')" />
      </div>
    </div>

  </form>

  <!-- Botão Avançar -->
  <div class="content-bottom">
    <button class="content-button" (click)="validateCpf()">
      <mat-icon>arrow_forward</mat-icon> Avançar
    </button>
  </div>
</div>

<!-- Dialog central -->
<div class="dialog-overlay" *ngIf="showDialog" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <pre>{{ dialogMessage }}</pre>
    <button (click)="closeDialog()">Fechar</button>
  </div>
</div>
