.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px; /* ou o tamanho que desejar */
  height: auto; /* a altura vai depender do conteúdo */
  z-index: 9999;
  border-radius: 8px; /* opcional */
  padding: 20px; /* opcional */
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  animation: spin 2s linear infinite;
  margin-bottom: 10px; /* espaço opcional entre spinner e texto */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
