@if(isLoading){
  <app-loading></app-loading>
}
<div class="content">
  <div class="content-title-container">
    <button mat-icon-button class="back-button" (click)="updateVisible(1)">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="content-title">Login</div>
  </div>
  <div class="content-image">
    <img src="assets/images/smiling.png" alt="imagem" />
  </div>

  <form class="content-form" [formGroup]="form" (submit)="$event.preventDefault()">
    <div class="content-input">
      <div class="input-wrapper" [class.focused]="focused['cpf'] || form.get('cpf')?.value">
        <label>CPF</label>
        <input #cpfInput type="text" inputmode="numeric" pattern="[0-9]*" autocomplete="off" formControlName="cpf" (input)="onCpfInput($event)" (focus)="onFocus('cpf')" (blur)="onBlur('cpf')" />
      </div>
    </div>
    <div class="content-input">
      <div class="input-wrapper password" [class.focused]="focused['password'] || form.get('password')?.value">
        <label>Senha</label>
        <input maxlength="6" [type]="showSenha ? 'text' : 'password'" inputmode="numeric" pattern="[0-9]*"
               formControlName="password"
               autocomplete="new-password"
               (focus)="onFocus('password')" (blur)="onBlur('password')" />
        <button type="button" class="icon-btn" (click)="toggleSenha()">
          <mat-icon>{{ showSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="content-bottom">
    <button class="content-button" (click)="validateCpf()">
      <mat-icon>arrow_forward</mat-icon> Avançar
    </button>
  </div>
</div>

<div class="dialog-overlay" *ngIf="showDialog" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <pre>{{ dialogMessage }}</pre>
    <button (click)="closeDialog()">Fechar</button>
  </div>
</div>
